#heading {
    margin-top: 8px;
    margin-left: 25vw;
    margin-right: 25vw;
}

#subheading {
    margin-top: 1rem;
    margin-left: 25vw;
    margin-right: 25vw;
}

#body {
    font-weight: normal;
    margin-top: 0.5rem;
    margin-left: 25vw;
    margin-right: 25vw;
}

#bodycont {
    font-weight: normal;
    margin-left: 25vw;
    margin-right: 25vw;
}

li {
    /* display: list-item; */
    /* list-style-type: circle; */
    margin-left: 28vw;
    margin-right: 25vw;
}

.gallery {
    display: grid;
    grid-template-columns: 24.5vw 24.5vw;
    column-gap: 1vw;
    row-gap: 1vw;
    margin-left: 25vw;
    margin-right: 25vw;
}

.gallery_img {
    max-width:100%;
    max-height:100%;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.back {
    margin-top: 8px;
    margin-left: 25vw;
    margin-right: 25vw;
}

@media screen and (max-width: 600px) {
    #heading {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    
    #subheading {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    
    #body {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    
    #bodycont {
        margin-left: 15vw;
        margin-right: 15vw;
    }
    
    li {
        margin-left: 18vw;
        margin-right: 15vw;
    }
}