#heading {
  margin-top: 8px;
  margin-left: 25vw;
  margin-right: 25vw;
}

#subheading {
  margin-top: 1rem;
  margin-left: 25vw;
  margin-right: 25vw;
}

#body {
  font-weight: normal;
  margin-top: 0.5rem;
  margin-left: 25vw;
  margin-right: 25vw;
}

#bodycont {
  font-weight: normal;
  margin-left: 25vw;
  margin-right: 25vw;
}

#swap {
    padding: 32px;
    border-width: 2px;
    border-style: solid;
    border-color: brown;
    width: max-content;
    max-width: 80px;
    word-wrap: normal;
}

#swap:hover:before {
    /* display: block;
    visibility: visible; */
    content: "But I also do other things when I have time";
    animation: 1s fade;
}
  
#swap:hover span{
    display: none;
}

#swap span{
    animation: 1s fade;
}

@keyframes fade {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
} 

@media screen and (max-width: 600px) {
  #heading {
      margin-left: 15vw;
      margin-right: 15vw;
  }
  
  #subheading {
      margin-left: 15vw;
      margin-right: 15vw;
  }
  
  #body {
      margin-left: 15vw;
      margin-right: 15vw;
  }
  
  #bodycont {
      margin-left: 15vw;
      margin-right: 15vw;
  }
  
  li {
      margin-left: 18vw;
      margin-right: 15vw;
  }
}