* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body { 
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: paleturquoise;
}

header {
    display: flex;
    background-color: green;
    min-height: 75px;
    align-items: center;
}

header > div {
    padding: 1rem;   
    color: beige;
}

header > div > a{
    background-color: red;
    padding: 1rem;
    color: beige;
}

@media screen and (max-width: 600px) {
    header {
        min-height: 35px;
    }

    header > div {
        padding: 0.5rem;
    }

    header > div > a{
        font-size: 12px;
        padding: 0.5rem;
        color: chartreuse;
    }
}

main {
    background-color: paleturquoise;
}

footer{
    margin-top: 1rem;
    min-height:50px; 
    background:PapayaWhip; 
    align-items: center; 
}

footer > div { 
    vertical-align:middle;
    padding-top: 17px;    
    padding-left: 10px;     
}

.center {
    margin: auto;
    text-align: center;
}