* {
    margin: 0;
    padding: 0;
}

body { 
    min-height: 100vh; 
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    display: flex;
    background-color: green;
    min-height: 75px;
    align-items: center;
}

header > div {
    padding: 1rem;   
    color: beige;
}

header > div > a{
    background-color: red;
    padding: 1rem;
    color: beige;
}

main {
    background-color: paleturquoise;
}

footer{ 
    min-height:50px; 
    background:PapayaWhip; 
    align-items: center; 
}

footer > div {        
    /* display:table-cell; */
    vertical-align:middle;
    padding-top: 17px;    
    padding-left: 10px;     
}

.center {
    margin: auto;
    text-align: center;
}