.title {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.itembox {
    max-width: 40vw;
    border-width: 2px;
    border-style: solid;
    border-color: #bbbddf;
    box-shadow: 5px 5px #777777;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
}

.itembox > a {
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 4px;
    margin-left: 4px;
}

.itembox:hover {
    box-shadow: 0px 0px;
    translate: 5px 5px;
}

#reminder {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .itembox {
        max-width: 75vw;
    }
}